// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

:root {
  --primary: #ebebeb;
  --secondary: #272023;
  --accent: #3e84be;
  --foreground: #38445a;
  --background: #fff;

  --dark: #232420;
  --dark-page: #242933;

  --text: #d1a325;
  --positive: #21ba45;
  --negative: #c10015;
  --info: #aec8e2;
  --warning: #f2c037;
}

$primary: var(--primary);
$secondary: var(--secondary);
$accent: var(--accent);
$foreground: var(--foreground);
$background: var(--background);

$dark: var(--dark);
$dark-page: var(--dark-page);

$text: var(--text);
$positive: var(--positive);
$negative: var(--negative);
$info: var(--info);
$warning: var(--warning);
